h1 {
    color: palevioletred;
    text-align: center;
    font-size: 80px;
    font-family: sans-serif;
}

body {
    background-color: lightgrey;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 75%;
}

ul {
    text-align: center;
    font-size: 30px;
}

ol {
    text-align: center;
    font-size: 30px;
}

h4 {
    text-align: center;
    font-size: 20px;
}

p {
    text-align: center;

    font-size: 25px;
}

